/*----------colors---------- */
$main-primary :#112233;
$main-hover: #4E5964;
$black : #000000;
$white : #ffffff;
$h1 :  #FC575E;


/* ------------- flat-colors use this as variables after declaring in colors section----------- */

$dark-blue : #112233;
$red : #FC575E;
$silver: #F0F1F5;
$blue : #44BBFF;
$green : #66CC99;


