$algerian : Algerian,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
$vani : Vani,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
$cursive: cursive, sans-serif;
$verdana: Verdana, Geneva, sans-serif;