body{
	overflow-x: hidden;
		font-size: 100%;
}
a{
	font-size: 1.6rem;
}
p{
	font-size: 1.6rem;
    line-height: 1.5;
    font-family: $vani;
    text-align: justify;
}
h3{
	color: $h3;		
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}