body{
	overflow-x: hidden;
	font-size: 100%;
}
a{
	font-size: 1.6rem;
}
p{
	font-size: 1.6rem;
    line-height: 1.6;
    font-family: $vani;
    text-align: justify;
}

li{
	font-size: 1.5rem;
    line-height: 1.5;
    font-family: $vani;
}

h4{
	color: $red;
	font-family: $arial;	
	font-size: 1.6rem;	
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-default{
    background-color: $red;
    color:$white;
    &:hover{
        background-color: darken($red,3%);
        color: $white;
    }
}