#main{
	.container-fluid{
		max-width: 1024px;
	}
	#home{
		background-image: url('main_bg.jpg');
		background-size: cover;
	    width: 100%;
		text-align: center;
		position: relative;
		.home_bg{
			position: absolute;
			top:0;
			width: 100%;
			height:100%;
			background-color: #14212A;
			opacity: 0.5;
		}
   
		.myInfo{
			position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
			.avatar{
				//background: url('display.jpg');
				background-size: contain;
				//border:1px solid $grey;
			    height: 100px;
			    width: 100px;
			    border-radius: 50%;
			    margin: 0 auto;
			}
			.myName{
				text-align: center;
				color:$white;
			}
			.profile{
				margin-top: 10px;
				color:$white;
				font-style: italic;
			}
		}		
	}
}