#main{
	.container{
		max-width: 1024px;
	}

}

#header{
	.home_bg{
		background-image: url('bg.jpg');
		//background-color: $blue;
		background-size: cover;
		position: fixed;
	    width: 100%;
		height:500px;

	}
	.overlay_bg{
		background-color: $black;
		background-size: cover;
		position: fixed;
	    width: 100%;
		height:500px;
		opacity: 0.5;
	}

	.myInfo{
		position: relative;
	    text-align: left;
	    padding-top: 175px;
	    height:500px;
	    color:$white;
	    -webkit-animation-name: dBounceIn;  /* Chrome, Safari, Opera */
		    -webkit-animation-duration: 5s;  /* Chrome, Safari, Opera */
		    animation-name: dBounceIn;
		    animation-duration: 2s;
		//@include dBounceIn();
		// .avatar{
		// 	background: url('avatar.jpg');
		// 	background-size: contain;
		// 	border:1px solid $grey;
		//     height: 25rem;
		//     width: 25rem;
		//     border-radius: 50%;
		//     margin: 0 auto;
		// }
		.myName{
			font-family: $verdana;
			
		}

		.profile{
			margin-top: 10px;
			color:$white;
			font-weight: bold;
		    font-family: $algerian;
		    font-size: 2.4rem;
		}
		.location{
			font-family: $verdana;
			font-size: 1.4rem;
		}
		
	}		
}

#about{
	background:$white;
	position: relative;
	section{
		padding: 20px 0px;
	}
	
	p{
		text-align: justify;
	}
	.dev-modules{
		.fa{
		   @include circle(80px);
		    color: $white;
		    background: $red;
		}
		.fa-cogs{
			transform: rotate(90deg);
		}
	}
	.panel-heading{
		font-size: 1.6rem;
		color: $red;
	}
	
}

#contact{
	background:$white;
	position: relative;
}

