#main{
	.container{
		max-width: 1024px;
	}

}

#header{
	.home_bg{
		background-image:  linear-gradient(
      rgba(29, 31, 33, 0.45), 
      rgba(29, 31, 33, 0.45)
    ), url('bg2.jpg');
		background-size: cover;
		position: fixed;
	    width: 100%;
		height:100vh;

	}

	.myInfo{
		position: relative;
	    text-align: left;
	    padding-top: 100px;
	    height:100vh;
	    color:$white;
		@include bounceInDown();
		// .avatar{
		// 	background: url('avatar.jpg');
		// 	background-size: contain;
		// 	border:1px solid $grey;
		//     height: 25rem;
		//     width: 25rem;
		//     border-radius: 50%;
		//     margin: 0 auto;
		// }
		.myName{
			font-family: $verdana;
			
		}

		.profile{
			margin-top: 10px;
			color:$white;
			font-weight: bold;
		    font-family: $algerian;
		    font-size: 2.4rem;
		}
		.description{
			margin-top:10px;
		}
		.location{
			font-family: $verdana;
			font-size: 1.4rem;
		}
	}
	.scroll-down{
		text-align:center;
		position: absolute;
    	bottom: 30px;
    	&:hover{
    		cursor:pointer;
    	}
    	.fa{
    		color:$white;
    	}
	}		
}

#about{
	background:$white;

	position: relative;
	section{
		padding: 20px 0px;
	}
	
	p{
		text-align: justify;
	}
	.devModulesVisible {
	   @include fadeInLeft();
	}
	.skillsVisible,.blogVisible{
		@include fadeInDown();
	}
	.dev-modules,.skills,.blog{
		opacity:0;
		.fa{
		   @include circle(80px);
		    color: $white;
		    background: $red;
		}
		.fa-cogs{
			transform: rotate(90deg);
		}
	}
	.panel-heading{
		font-size: 1.6rem;
		color: $red;
	}
	
}

#contact{
	background:$white;
	position: relative;
}

