#home-page{
	.container-fluid{
		max-width: 1024px;
		h1{
			color: $h1;		
		}
	
	}
	.navbar-default{
		background-color:$main-primary;
		border-top:none;
		border: none;
		border-radius: 0px;
		.navbar-form{
			border-top: none;
			border-bottom: none;
			box-shadow: none;
		}
		.navbar-nav{
			li{
				a{
					color:$white;
					background-color:$main-primary;
					-webkit-transition: background .3s;
					transition: background .3s;
					&:hover{
						background-color:$main-hover;
					}
					&:focus{
						outline: none;
					}
				}
			}
			li.active{
				a{
					color:$grey-low;
					background-color:$silver;				}
			}
		}
	}
	.blog-post-header{
		position:relative;
		width: 100%;
		.blog-post-icon{
			@include half-circle($main-primary,100px);
			position:absolute;
			top:-70px;
			left:0;
			right:0;
			margin:auto;
			text-align:center;
			color:$white; 
			cursor: pointer;
			.blog-text-1{
				margin-top:30px;
				font-size: 20px;
			}
		}
	}
	.latest-post-section{
		p{
			color: $grey-high;
			&:hover{
				color:$grey-low;
				cursor: pointer;
			}
		}
	}
	.contact-page{
		min-height: 100%;
	}
	.footer{
		margin-top: 50px;
		height:50px;
		background-color: $main-primary;
		bottom:0;
		position: fixed;
    	width: 100%;
	}
}