#main{
	.container-fluid{
		max-width: 1024px;
		h1{
			color: $h1;		
		}
	
	}
	.navbar-default{
		background-color:transparent;
		border-top:none;
		border: none;
		border-radius: 0px;
		.navbar-form{
			border-top: none;
			border-bottom: none;
			box-shadow: none;
			position: relative;
			.form-control{
				display: inline-block;
				padding-right:2.5rem;
			}
			a{
				display: inline-block;
				position: absolute;
				right: 2.5rem;
				&:hover{
					cursor: pointer;
				}
			}
			.fa-search{
				padding-top: 9px;			
			}
		}
		.navbar-nav{
			li{
				a{
					color:$white;
					background-color:transparent;
					-webkit-transition: background .3s;
					transition: background .3s;
					&:hover{
						background-color:$main-hover;
					}
					&:focus{
						outline: none;
					}
				}
			}
			li.active{
				a{
					color:$grey-low;
					background-color:$silver;				}
			}
		}
	}
	#home{
		background-image: url('main_bg.jpg');
		background-size: cover;
	    width: 100%;
	    z-index: -1;
		text-align: center;
		padding-top: 100px;
		.avatar{
			background: url('display.jpg');
			background-size: contain;
			border:1px solid $grey;
		    height: 100px;
		    width: 100px;
		    border-radius: 50%;
		    margin: 0 auto;
		}
		.myName{
			text-align: center;

		}
		.profile{
			margin-top: 10px;
			div:first-child{
				color:$grey-mid;
			}
			.social-links{
				margin-top: 10px;
				a{
					font-size: 1.5rem;
    				padding:0px 20px;
				}
				.github{
					color:$github;
				}
				.twitter{
					color:$twitter;
				}
				.stackoverflow{
					color:$stackoverflow;
				}
				.linkdin{
					color:$linkdin;
				}
			}
		}
	}
	
	.blog-post-header{
		position:relative;
		width: 100%;
		.blog-post-icon{
			@include half-circle($main-primary,100px);
			position:absolute;
			top:-70px;
			left:0;
			right:0;
			margin:auto;
			text-align:center;
			color:$white; 
			cursor: pointer;
			.blog-text-1{
				margin-top:30px;
				font-size: 20px;
			}
		}
	}
	.latest-post-section{
		p{
			color: $grey-high;
			&:hover{
				color:$grey-low;
				cursor: pointer;
			}
		}
	}
	.contact-page{
		min-height: 100%;
	}
	.footer{
		height:50px;
		background-color: $main-primary;
    	width: 100%;
	}
}