#home_page{
	z-index: 1;
	#main-background-image{
		background-image: url("/img/main_background.jpg");
	    background-repeat: no-repeat;
	    background-attachment: fixed;
		background-size:cover;
		height:400px;
		opacity:0.5;
	}
	.navbar-default{
		background-color:$main-primary;
		border:none;
		.navbar-nav{
			li{

				a{
					color:$white;
					background-color:$main-primary;
					&:hover{
						background-color:$main-hover;
					}
				}
			}
		}
	}
	.blog-post-header{
		position:relative;
		.blog-post-icon{
			background-color:$main-primary;
			height:250px;
			width:250px;
			border-radius:50%;
			position:absolute;
			top:-70px;
			left:0;
			right:0;
			margin:auto;
			text-align:center;
			color:$white; 
			cursor: pointer;
			.blog-text-1{
				margin-top:30px;
				font-size: 20px;
			}
		}
	}       	
} 
