.navbar-header{
	float: left;
}
.navbar-right{
	float: right !important;
	margin-right: -15px;
}
.navbar-default{
	background-color: transparent;
	padding-bottom: 20px;

	.navbar-brand{
		font-family: $kushan-arial;
		color: $red ;
		@media (min-width: $screen-md-min) {
			font-size: 4rem;
		}
		@media only screen and (max-width: $screen-md-max) {
			font-size: 3rem;
		}
		&:hover{
			cursor: pointer;
			color:darken($red, 10%) ;
			@include pulse();

		}
		&:focus{
			color: $red ;
		}
	}
	.container{
		margin-top:25px;


	}
	.navbar-nav > li > a{
		color: $red ;
		cursor: pointer;
		&:focus{
			color: $red;
		}
		&:after{
			content: "";
			display: block;
			height: 2px;
			background-color: $red;
			width: 0;

		}
		@media (min-width: $screen-sm-min) {
			&:hover{
				color:darken($red, 10%) ;
				&:after{
					width: 100%;
					@include bounceIn();
				}
			}
		}
		@media only screen and (max-width: $screen-xs-max) {
			&:hover{
				color:darken($red, 10%);
				//background-color:$red;
			}
		}
	}
	.navbar-toggle{
		&:focus{
			background: transparent;
		}
	}
}

.navbar-inverse{
	background-color: $main-primary!important;
	border-radius: 0px;
	margin-bottom: 0px;
	transition: all 0.5s ease;
	.navbar-brand{
		color:$red;
		font-family: $kushan-arial;
		font-size: 2rem;
		transition: all 0.5 ease;
		cursor: pointer;
		&:hover{
			cursor: pointer;
			color:darken($red, 10%) ;
		}
		&:focus{
			color:darken($red, 10%) ;
		}
	}
	.navbar-form{
		border-top: none;
		border-bottom: none;
		box-shadow: none;
		position: relative;
		.form-control{
			display: inline-block;
			padding-right:2.5rem;
		}
		a{
			display: inline-block;
			position: absolute;
			right: 2.5rem;
			&:hover{
				cursor: pointer;
			}
		}
		.fa-search{
			padding-top: 9px;
		}
	}
	.navbar-nav{
		.fa{
			padding-right: 5px;
		}
		li{
			a{
				color:$red;
				background-color:transparent;
				-webkit-transition: background .3s;
				transition: background .3s;
				&:hover,&.active{
					cursor:pointer;
					color:darken($red, 10%);
					//background-color:$red;
				}
				&:focus{
					outline: none;
				}
			}
		}
		li.active{
			a{
				color:$white;
				background-color:darken( $main-primary, 5% );
				&:hover{
					color:$white;
					background-color:darken( $main-primary, 1% );
				}
				&:focus{
					color:$white;
					background-color:darken( $main-primary, 5% );
				}
			}
		}
	}
}



@media (min-width: $screen-sm-min) {
	.navbar-default{
		.navbar-nav > li > a{
			&:hover{
				@include pulse();
			}
			&.active{
				&:after{
					content: "";
					display: block;
					height: 2px;
					background-color: $red;
					width: 100%;
				}
			}
		}

	}
	.menuClose{
		display: none;
	}

}


@media only screen and (max-width: $screen-xs-max) {
	.navbar-default{
		.navbar-collapse{
		    margin-top: 20px;
		    li a {
			    &.active{
					cursor:pointer;
					color:$white;
					background-color:$red;
				}
			}
		}

		.navbar-toggle{
			&:hover{
				background-color:transparent;
			}
		}

	}

	.menuClose{
		display: none;
	}

	.navbar-collapse-secondary{
		background-color:$main-primary !important;
		transition: all 0.5s ease;
		opacity: 0.9;
		.navbar-toggle{
			span{
				display: none;
			}
		}
	}


	.navbar-collapse-secondary{
		.menuClose{
			position: absolute;
		    right: 15px;
			top: 33px;
			color:$aluminium;
			border-color:$aluminium;
			border: 1px solid $aluminium;
			padding: 0px 9px;
			border-radius: 5px;
			cursor: pointer;
			display: block;
			&:hover{
				color:$main-primary;
			}
		}
		.navbar-toggle{
			padding: 9px 10px 9px 33px;
			height: 34px;
			border-color: transparent;

		}
	}
	.navbar-inverse{
		.menuClose{
			top: 8px;
		}
		.navbar-toggle:hover,.navbar-toggle:focus{
			background: transparent;
		}
	}

}
