.social-links{	
	a{
		font-size: 2rem;
		cursor: pointer;
		margin: 10px;
	    border-radius: 50%;
	    height: 50px;
	    width: 50px;
	    display: inline-block;
	    line-height: 50px;
	    &:hover{
	    	background: $white;
	    }
	    &.github{
	    	&:hover{
	    		color: $main-primary;
	    	}
	    }
	}
	.github{
		color:$github;
	}
	.twitter{
		color:$twitter;
	}
	.linkedin{
		color:$linkdin;
	}
	.stackoverflow{
		color:$stackoverflow;
	}
		
}