.split-bar{
	height:48px;
	background-color: $blue;
	text-align: center;	
	color:$white;
	a{	
		cursor:default;
		color:$white;
		text-decoration: none;
		display: block;
		&:before{
			content: "";
			vertical-align: middle;
		    display: inline-block;
		    height: 50px;
		}
		span{
			padding-right: 5px;
			&:before{
				vertical-align: middle;
			    display: inline-block;
			    height: 22px;
			}
		}
		
	}
}